* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Gotham;
    src: url('fonts/Gotham.otf');
}
.main_menu{
    text-align: center;
    margin: 20px auto;
}
.home_page{
         text-decoration: none;
    border: 2px solid #739c3e;
    background-color: #739c3e;
    color: #2f1e0a;
    border-radius: 20px;
    padding: 10px;
}
.home_page:hover{
    text-decoration: none;
    color: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.slider {
    height: 800px;
    background-image: url(img/slider-img.jpg);
    position: relative;
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration-line: none;
    padding: 10px 13px;
}

.menu-link:hover {
    color: #212121;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.slider-text {
    margin-top: 288px;
}

.slider-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    display: inline-block;
    width: 212px;
    height: 45px;
    text-align: left;
    padding-left: 31px;
    line-height: 45px;
    text-decoration: none;
    letter-spacing: 3.6px;
}

.button:hover:after {
    content: url(img/arrow.svg);
    padding-left: 22px;
}
.button:active {
    box-shadow: none;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #212121;
    opacity: 0.2;
    border-radius: 50%;
    margin: 5px;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    opacity: inherit;
    margin-bottom: 0px;
}

.circle:hover {
    opacity: inherit;
}

.pagination {
    position: absolute;
    width: 1170px;
    text-align: center;
    bottom: 19px;
}

.featured-product {
    margin-top: 120px;
}

.category-featured,
.category-new,
.category-all {
    text-decoration: none;
}

.category-featured {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 3px solid #212121;
    padding: 0px 20px 17px 9px
}

.category-new {
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    border-bottom: 1px solid #6c6c6c;
    padding: 0px 22px 19px 11px;
}

.category-new:hover {
    color: #212121;
}

.category-all {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    float: right;
    margin-top: 24px;
}
.category-all:hover{
    border-bottom: 1px solid #212121;
}
.product-featured {
    list-style-type: none;
    margin-top: 72px;
}

.product-list {
    float: left;
    position: relative;
}

.back {
    position: absolute;
    width: 270px;
    height: 270px;
    top: 0px;
    outline: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    display: none;
}

.back-text {
    margin-top: 62px;
    margin: 62px 32px 0px 32px;
    text-align: center;
}

.headline-hover {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.text-hover {
    color: #6c6c6c;
    font-size: 13px;
    font-weight: 300;
    line-height: 21.91px;
}

.button-hover {
    width: 48px;
    height: 48px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 50%;
    background-color: #ffffff;
    display: inline-block;
}

.arrow-hover {
    width: 12px;
    height: 20px;
    margin: 14px 18px;
}

.product-list:hover .back {
    display: block;
}

.product-list:nth-child(1),
.product-list:nth-child(2),
.product-list:nth-child(3) {
    padding-right: 30px;
}

.product-exclusive {
    margin-top: 120px;
    height: 683px;
}

.product-ex1,
.product-ex2 {
    width: 683px;
    height: 683px;
    float: left;
}

.product-ex1 {
    background-image: url(img/promo-img1.jpg);
}

.product-ex2 {
    background-image: url(img/promo-img2.jpg);
}

.exclusive-text {
    margin-top: 228px;
    margin-left: 50px;
}

.exclusive {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.exclusive-h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.exclusive-content {
    width: 374px;
    color: #6c6c6c;
    font-size: 13px;
    font-weight: 300;
    line-height: 24.04px;
    margin-top: 24px;
    margin-bottom: 34px;
}

.trending-product {
    margin-top: 119px;
}

.trending-text {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    float: left;
}

.trend-all {
    color: #212121;
    text-decoration-line: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    float: right;
    margin-top: 18px;
    margin-bottom: 3px;
}
.trend-all:hover{
    border-bottom: 1px solid #212121;
}
.trend-list {
    list-style-type: none;
    float: left;
}

.trend-list:nth-child(1),
.trend-list:nth-child(2) {
    padding-right: 30px;
}

.trend-list {
    padding-bottom: 30px;
}

.trend-menu {
    margin-top: 68px;
}

.hot-deal-slider {
    height: 800px;
    background-image: url(img/slider-hot.jpg);
    margin-top: 90px;
    position: relative;
}

.slider-hot-text {
    padding-top: 287px;
}

.slider-hot-deal {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.exclusive-bottom-page {
    margin-top: 120px;
    height: 570px;
}

.exclusive-bottom-left {
    width: 570px;
    height: 570px;
    background-image: url(img/ex-bottom-left.jpg);
    float: left;
    margin-right: 30px;
}

.exclusive-text-bottom {
    margin-top: 186px;
    margin-left: 30px;
}

.exclusive-bottom {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.exclusive-h2-bottom {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.exclusive-content-bottom {
    width: 332px;
    font-size: 12px;
    font-weight: 300;
    line-height: 24.04px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ex-bottom-list {
    list-style-type: none;
    float: left;
    width: 270px;
    height: 270px;
    margin-bottom: 30px;
}

.ex-bottom-list:nth-child(2n-1) {
    margin-right: 30px;
}

.mobile-app-page {
    height: 516px;
    background-image: url(img/mob-app-img.jpg);
    margin-top: 90px;
}

.mobile-app-text {
    padding-top: 125px;
}

.mobile-app {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.mobile-app-h2 {
    width: 472px;
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
}

.mobile-app-content {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    width: 472px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mob-app-list {
    list-style-type: none;
    float: left;
    margin-right: 10px;
}

.footer {
    height: 384px;
    background-color: #f7f7f7;
}

.footer-content {
    padding-top: 120px;
    padding-bottom: 18px;
}

.footer-contacts {
    width: 221px;
}

.contact-h2,
.info-h2,
.email-h2 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-bottom: 24px;
}

.footer-top-menu1,
.footer-top-menu2 {
    float: left;
    list-style-type: none;
}

.footer-top-menu1 {
    padding-right: 103px;
}

.footer-top-link {
    text-decoration: none;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.contact-text {
    color: #212121;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

.footer-contacts {
    float: left;
}

.footer-info {
    float: left;
    margin-left: 73px;
    margin-right: 73px;
}

.footer-email {
    width: 370px;
    float: right;
}

.email-text {
    color: #212121;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 26px;
}

input[type="email"] {
    width: 351px;
    height: 48px;
    border: 1px solid #d9dee1;
    background-color: #ffffff;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-left: 17px;
}

form {
    position: relative;
}

button {
    position: absolute;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    right: 0px;
    margin: 16px 14px
        
}
button:active{
     transform: rotate(360deg);   
	transition: all 0.3s ease 0s;
}

.copyright {
    float: left;
    color: #6c6c6c;
    font-size: 11.5px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.footer-bottom {
    margin-top: 50px;
    height: 28px;
}

.footer-bottom-menu {
    float: left;
    width: 129px;
    margin-left: 154px;
    margin-right: 154px;
}

.footer-bottom-list {
    float: left;
    list-style-type: none;
    padding-right: 4.5px;
}
.footer-bottom-link {
    color: #212121;
    font-size: 20px;
}

.privacy {
    float: right;
    color: #6c6c6c;
    font-size: 11.5px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.header-back {
    height: 360px;
    background-color: #f5f5f5;
}

.contact-us {
    color: #212121;
    font-size: 62px;
    font-weight: 200;
    line-height: 72px;
    margin-top: 171px;
}

.main-contact {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 71px;
    margin-bottom: 122px;
}

.block-contact {
    width: 290px;
    height: 322px;
    outline: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 48px;
}

.block-contact:nth-child(1),
.block-contact:nth-child(2) {
    margin-right: 30px;
}

.block-list {
    list-style-type: none;
    color: #6c6c6c;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
}

.block-list:nth-child(2n-1) {
    margin-top: 10px;
}

.block-list:nth-child(2n) {
    color: #212121;
}

.block-list:last-child {
    font-weight: 400;
}

.country-h3 {
    margin-top: 34px;
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
    text-transform: uppercase;
}

.products-range {
    color: #212121;
    font-size: 62px;
    font-weight: 200;
    line-height: 72px;
    margin-top: 168px;
}

.catalog-menu {
    margin-top: 71px;
}

.categories-list {
    list-style-type: none;
    display: inline-block;
}

.categories-link {
    text-decoration-line: none;
    padding: 10px 10px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.categories-link:hover {
    color: #212121;
}

.categories-link-active {
    color: #212121;
    border-bottom: 3px solid #212121;
    ;
}

.catalog-strock {
    margin-top: 12px;
    width: 300px;
    border: none;
    height: 1px;
    background-color: #6c6c6c;
}

.catalog-product-menu {
    margin-top: 50px;
}

.catalog-product-list {
    float: left;
    height: 370px;
    list-style-type: none;
    padding-bottom: 30px;
    margin-right: 30px;
}

.catalog-product-list:nth-child(3n+3) {
    margin-right: inherit;
}

.catalog-product-link {
    height: 370px;
    display: inline-block;
}

.arrow-circle {
    text-align: center;
    margin-top: 41px;
    height: 29px;
}

.arrow-circle-button {
    display: inline-block;
    height: 29px;
}
.arrow-circle-button:hover {
    transform: rotate(-180deg);
    transition: all 0.5s ease 0s;
}
.arrow-circle-button:active {
    transform: scale(1.25)
}

.product-header-menu {
    height: 70px;
    margin-top: 29px;
    text-align: center;
    background-color: #f4f4f4;
}

.product-header-list {
    list-style-type: none;
    display: inline-block;
    margin: 22px 5px;
}

.product-header-link {
    text-decoration: none;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding: 10px 10px;
}

.product-header-link:hover {
    color: #212121;
}

.product-header-link-active {
    color: #212121;
}

.product-menu {
    margin-top: 72px;
    display: flex;
}

.mini-foto-menu {
    text-align: center;
}

.mini-foto {
    margin-right: 10px;
}

.product-content-menu {
    margin-top: 37px;
    margin-left: 56px;
    text-align: center;
}

.product-name-h2 {
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
}

.product-categories-h3 {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48.02px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.product-price-menu {
    display: inline-flex;
    list-style: none;
    align-items: baseline;
    margin-top: 20px;
}

.product-price-list {
    color: #212121;
    font-family: Gotham;
    font-size: 48px;
    font-weight: 200;
    line-height: 48.02px;
    margin-right: 10px;
}

.product-price-list:nth-child(2) {
    font-size: 72px;
}

.order-us-buy {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 510px;
    height: 71px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 35px;
    background-color: #f44336;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    margin-top: 31px;
    margin-bottom: 49px;
}
.order-us-buy:hover{
  background-image: url(img/arrow_white.svg);
  background-repeat: no-repeat;
  background-position: 350px;
}
.order-us-buy:active{
     box-shadow: none;
}
.product-text {
    width: 499px;
    color: #212121;
    font-family: Gotham;
    font-size: 16px;
    font-weight: 300;
    line-height: 24.01px;
    letter-spacing: 0.4px;
    text-align: left;
}

.related-products {
    margin-top: 245px;
    margin-bottom: 71px;
}

.related-products-text {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    float: left;
}

.related-all {
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    float: right;
    margin-top: 15px;
    margin-bottom: 2px;
}
.related-all:hover{
    border-bottom: 1px solid #212121;
}
.related-products-list {
    list-style: none;
    float: left;
    margin-right: 30px;
    height: 370px;
    margin-bottom: 120px;
}

.related-products-list:nth-child(3) {
    margin-right: inherit;
}